<link rel="stylesheet" type="text/scss" href="/note/src/app/app.component.scss" />
<div>
  <div class="content" role="main">
    <div class="card card-small" style="background-color:cadetblue">
      <span><strong> Welcome to your To Do List</strong> </span>
    </div>

    <div>
      <h2>Enter your Notes Below</h2>
      <br>
    </div>

    <table>
      <tr *ngFor=" let todo of todos">
        <div class="card card-small table-value" (click)="selection.value = 'test'" tabindex="0">

          <td class="text-center">
            <input type="checkbox" class="circle-link-small">
          </td>
          <td class="value-align">
            <p class="strikethrough">{{todo.label}}</p>
          </td>
          <td>
            <button (click)="deleteTodo(todo)" class="circle-link">
              <img src="https://img.icons8.com/material/50/000000/delete-forever.png" width="20px" />
            </button>
          </td>
        </div>
      </tr>
    </table>

    <div class="card card-small">
      <input type="text" #newTodo class="textarea">
      <button (click)="addTodo(newTodo.value); newTodo.value=''; " class="circle-link">Add</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>